<!DOCTYPE html>
<html>

	<head>
	  <title>Flyhappy</title>
	  <%= csrf_meta_tags %>
	  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application" %>

	  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
	</head>
	<%= render 'layouts/header' %>
	<body>
		<div class="container">
			<% flash.each do |key, value| %>
        		<div class="alert alert-<%= key %>"><%= value %></div>
    	  	<% end %>
		<div>
		<%= yield %>
		</div>
		<%= debug(params) if Rails.env.development? %>
		</div>

	</body>
</html>
