<!DOCTYPE html>
<html>

	<head>
	  <title>Flyhappy</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
	</head>

	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<div>
				<%= yield %>
			</div>
		<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
